body{
    margin: 0;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}
.img{
    width: 100px;
}

.header img{
    width: 100%;
    height: 100%;
}

.header > img{
    width: 100%;
}

/* nav items in header */
.nav-items > ul{
    display: flex;
}

.nav-items > ul >li{
    list-style: none;
    padding: 10px;
    padding-right: 40px;
}
.nav-items > ul >li :hover{
  color: rgb(106, 186, 212);
  
}
.nav-items > ul >li >a{
  text-decoration: none;
  color: black;
 
}

/* Restaurant items on dashboard */

.list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.list .item{
    position: relative;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
}
.menu-card{
    position: absolute;
    width: 200px;
    min-height: 250px;
    background-color: aliceblue;
    z-index: 20;
}
.list .item:hover{
    border: 1px solid black;     
}

.list .item:hover > .quick-view{
  opacity: 1; 
}
.list .item h3,h4,h5{
  margin: 0;
  padding-top: 10px;
}

.list >div>a{
  text-decoration: none;
  color: black;
  }
.list .item img{
   width: 100%;
}
/*shimmer*/

.shim{
    display: flex;
    flex-wrap: wrap; 
    margin-top: 80px; 
    justify-content: center;
}

.shim .shimmer{
    width: 200px;
    border: 1px solid  lightgray;
    padding: 10px;
    margin: 10px;
}
.shim .shimmer div{
    height: 125px;
    background-color: lightgray;
}
.shim .shimmer h3{
    background-color: lightgray;
    height: 10px;
}

.shim .shimmer h4{
    background-color: lightgray;
    height: 10px;
}

/* search input */

.search{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.search > input{
    width: 50%;
    padding: 10px;
}

/* quick -view */

.quick-view {
   opacity: 0;
}
.quick-view >h4 {
    display: flex;
    justify-content: center;
    padding: 0;
 }

  /* restaurant banner */
  .banner{
    display: flex;
    background-color: black;
    color: white;
    height: 200px;
    justify-content: space-around;
  }
  .banner-img{
    display: flex;
    align-items: center;
  }
  .banner-img > img{
    height: 150px;
  }

  .banner > .list-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;

  }
  .banner >.list-items >h2{
  margin-bottom: 0;
  }
  .banner >.list-items >ul >li{
    list-style: none;
    padding: 10px;
  }

  /* banner -offer */
  .banner > .offer{
  display: flex;
  
  align-items: center;
  }
  .banner > .offer >ul{
    border: 1px solid;
    padding: 20px;
  }
  .banner > .offer >ul >li{
   list-style: none;
   padding: 10px;
  }
  .banner > .offer >ul >li >i{
  margin-right: 5px;
  }

  /* menu-items */
 .menu >h2{
   margin-left: 20px;
 }
  .menu .veg{
    color: green ;
  }
  .menu .non-veg{
    color:red;
  }
  .menu p{
    color: #6D7073;
  }

  .menu .bestseller{
    display: flex;
  }
  .menu .bestseller >span:nth-child(2n){
   margin-left: 10px;
  }

  .menu .item{
    margin: 20px;
    border-bottom: 1px solid black;
  }
  /* .item :hover{
  background-color: aliceblue;
  } */

  .menu .card{
    display: flex;
    justify-content: space-between;
  }

  .menu  .img-card{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100px;
  }
  .menu  .img-card >img{
    width: 100%;
  }
/* footer */
.footer{

    border: 1px solid black;
    height: 40px;
    margin: 0;
}